$bg-color:#ffffff;
$font-color:rgb(27, 27, 27);

$primary-color:#008ed6;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size:30px;

body{
  background:$bg-color;
  color:$font-color;
}

.navbar{
  border-bottom:$primary-color 3px solid;
  opacity:0.8;
}

#home-section{
  position: relative;
  background:url('../img/home.jpg') no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height:700px;

  .dark-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:700px;
  }

  .home-inner{
    padding-top:150px;
  }

  .card-form{
    opacity:0.8;
  }

  .fa{
    color:$primary-color;
    background:#fff;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }
}

#explore-section, #share-section{
  .fa{
    color:#fff;
    background:#333;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }
}

#create-section{
  .fa{
    color:$primary-color;
    background:#fff;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }
}
#header2{
  color: #3f3f3f;
}


// Break Point

// small devices (landscape phones)
@media(min-width:576px){

}

// Medium devices (tablets)
@media(min-width:768px){
  
}

// large devices desktop
@media(min-width:992px){
  .top-icons-1{
    width: 30% !important;

  }
  .company-contact{
    padding-left: 150px;
  }
  
}

// Extra large devices
@media(min-width:1200px){
  
}



// Given screen size or smaller

@media(max-width:575px){
  .company-contact{
    padding-top:10px !important;
    padding-bottom: 10px !important;
  }
  .office-addr{
    display: none;
  }
}